/*旋转部分、、、、、、、、、、、、、、、、、、、、、、、、、、*/
#content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.section3 {
  position: absolute;
  left: 50%;
  top: 26%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.section3 .ui_base {
  /* 中间容器 */
  /*width: 2024px;*/
  -webkit-perspective: 2260px;
  -moz-perspective: 2260px;
  -ms-perspective: 2260px;
  -o-perspective: 2260px;
  perspective: 2260px;
  -webkit-perspective-origin: 50% 25%;
  -moz-perspective-origin: 50% 25%;
  -o-perspective-origin: 50% 25%;
  -ms-perspective-origin: 50% 25%;
  perspective-origin: 50% 25%;
}

/* 中间圆球位置 */
.section3 .ball_c {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  position: absolute;
  width: 200px;
  height: 100px;
  /* background: url('/images/commons/36.png') no-repeat center center; */
  /* background-size: 103% 104%; */
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
}

/* 外侧轨道线 */
.section3 .base {
  -webkit-animation: cir 200s linear 0s infinite;
  -o-animation: cir 200s linear 0s infinite;
  -ms-animation: cir 200s linear 0s infinite;
  -moz-animation: cir 200s linear 0s infinite;
  animation: cir 200s linear 0s infinite;
  /* border: 1px solid #ccc; */
  border-radius: 50%;
  position: relative;
}
/* 外侧轨道线 */
.u_p3d {
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* 轨道位置 */
.section3 .base {
  -webkit-transform: rotateX(80deg) rotateY(0deg);
  -moz-transform: rotateX(80deg) rotateY(0deg);
  -o-transform: rotateX(80deg) rotateY(0deg);
  -ms-transform: rotateX(80deg) rotateY(0deg);
  transform: rotateX(80deg) rotateY(0deg);
  position: relative;
  width: 1400px;
  height: 1400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 80px;
  left: 0px;
}
/* 轨迹线2 */
.line1 {
  width: 1350px;
  height: 1350px;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* 轨迹线3 */
.line2 {
  width: 1100px;
  height: 1100px;
  border: 3px solid #ccc;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* 小圆球  容器 ball_base*/
.section3 .ball_base {
  -webkit-transform-origin: 16.5rem 2rem;
  -moz-transform-origin: 16.5rem 2rem;
  -ms-transform-origin: 16.5rem 2rem;
  -o-transform-origin: 16.5rem 2rem;
  transform-origin: 16.5rem 2rem;
  width: 200px;
  height: 200px;
  position: absolute;
  cursor: pointer;
}
.section3 .ball_base .ball {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.section3 .ball_1 {
  /*  ____ 外侧容器 */
  -webkit-transform: rotateX(-90deg) rotateY(0deg) translateY(-70px);
  -o-transform: rotateX(-90deg) rotateY(0deg) translateY(-70px);
  -moz-transform: rotateX(-90deg) rotateY(0deg) translateY(-70px);
  -ms-transform: rotateX(-90deg) rotateY(0deg) translateY(-70px);
  transform: rotateX(-90deg) rotateY(0deg) translateY(-70px);
  position: absolute;
  left: 82%;
  top: 60%;
}

.section3 .ball_2 {
  /*  ____ 外侧容器 */
  -webkit-transform: rotateX(-90deg) rotateY(60deg) translateY(-70px);
  -moz-transform: rotateX(-90deg) rotateY(60deg) translateY(-70px);
  -o-transform: rotateX(-90deg) rotateY(60deg) translateY(-70px);
  -ms-transform: rotateX(-90deg) rotateY(60deg) translateY(-70px);
  transform: rotateX(-90deg) rotateY(60deg) translateY(-70px);
  position: absolute;
  top: 50%;
  /*right: 0%;*/
}

.section3 .ball_3 {
  /*  ____ 外侧容器 */
  -webkit-transform: rotateX(-90deg) rotateY(120deg) translateY(-70px);
  -o-transform: rotateX(-90deg) rotateY(120deg) translateY(-70px);
  -ms-transform: rotateX(-90deg) rotateY(120deg) translateY(-70px);
  -moz-transform: rotateX(-90deg) rotateY(120deg) translateY(-70px);
  transform: rotateX(-90deg) rotateY(120deg) translateY(-70px);
  position: absolute;
  top: 6%;
  left: 52%;
}

.section3 .ball_4 {
  /*  ____ 外侧容器  */
  -webkit-transform: rotateX(-90deg) rotateY(180deg) translateY(-70px);
  -moz-transform: rotateX(-90deg) rotateY(180deg) translateY(-70px);
  -ms-transform: rotateX(-90deg) rotateY(180deg) translateY(-70px);
  -o-transform: rotateX(-90deg) rotateY(180deg) translateY(-70px);
  transform: rotateX(-90deg) rotateY(180deg) translateY(-70px);
  position: absolute;
  bottom: 0;
  left: 20%;
}
.section3 .ball_5 {
  /*  ____ 外侧容器 */
  -webkit-transform: rotateX(-90deg) rotateY(240deg) translateY(-70px);
  -moz-transform: rotateX(-90deg) rotateY(240deg) translateY(-70px);
  -o-transform: rotateX(-90deg) rotateY(240deg) translateY(-70px);
  -ms-transform: rotateX(-90deg) rotateY(240deg) translateY(-70px);
  transform: rotateX(-90deg) rotateY(240deg) translateY(-70px);
  position: absolute;
  top: 28%;
  /*left: 60%;*/
}

.section3 .ball_1 .ball {
  -webkit-transform: rotateY(10deg) rotateZ(0deg);
  -moz-transform: rotateY(10deg) rotateZ(0deg);
  -o-transform: rotateY(10deg) rotateZ(0deg);
  -ms-transform: rotateY(10deg) rotateZ(0deg);
  transform: rotateY(10deg) rotateZ(0deg);
}

.section3 .ball_2 .ball {
  -webkit-transform: rotateY(-50deg) rotateZ(0deg);
  -o-transform: rotateY(-50deg) rotateZ(0deg);
  -ms-transform: rotateY(-50deg) rotateZ(0deg);
  -moz-transform: rotateY(-50deg) rotateZ(0deg);
  transform: rotateY(-50deg) rotateZ(0deg);
}

.section3 .ball_3 .ball {
  -webkit-transform: rotateY(-110deg) rotateZ(0deg);
  -o-transform: rotateY(-110deg) rotateZ(0deg);
  -moz-transform: rotateY(-110deg) rotateZ(0deg);
  -ms-transform: rotateY(-110deg) rotateZ(0deg);
  transform: rotateY(-110deg) rotateZ(0deg);
}

.section3 .ball_4 .ball {
  -webkit-transform: rotateY(-170deg) rotateZ(0deg);
  -o-transform: rotateY(-170deg) rotateZ(0deg);
  -moz-transform: rotateY(-170deg) rotateZ(0deg);
  -ms-transform: rotateY(-170deg) rotateZ(0deg);
  transform: rotateY(-170deg) rotateZ(0deg);
}

.section3 .ball_5 .ball {
  -webkit-transform: rotateY(-230deg) rotateZ(0deg);
  -o-transform: rotateY(-230deg) rotateZ(0deg);
  -moz-transform: rotateY(-230deg) rotateZ(0deg);
  -ms-transform: rotateY(-230deg) rotateZ(0deg);
  transform: rotateY(-230deg) rotateZ(0deg);
}

.section3 .ball {
  -webkit-transition: all 2s ease-out 0ms;
  -o-transition: all 2s ease-out 0ms;
  -moz-transition: all 2s ease-out 0ms;
  -ms-transition: all 2s ease-out 0ms;
  transition: all 2s ease-out 0ms;
  -webkit-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /* background: url('../img/yuan_bg.png') no-repeat center center;
    background-size: 100% 100%; */
  text-align: center;
  width: 200px;
  height: 200px;
}

.section3 .ball_1 .ball {
  -webkit-transition-delay: 1100ms;
  -o-transition-delay: 1100ms;
  -moz-transition-delay: 1100ms;
  -ms-transition-delay: 1100ms;
  transition-delay: 1100ms;
}

.section3 .ball_2 .ball {
  -webkit-transition-delay: 900ms;
  -moz-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  -ms-transition-delay: 900ms;
  transition-delay: 900ms;
}

.section3 .ball_3 .ball {
  -webkit-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  -ms-transition-delay: 700ms;
  -moz-transition-delay: 700ms;
  transition-delay: 700ms;
}

.section3 .ball_4 .ball {
  -webkit-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  transition-delay: 500ms;
}

.section3 .ball_5 .ball {
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}

.section3 .ball_1 .ball {
  -webkit-animation: cir1 200s linear 0s infinite;
  -o-animation: cir1 200s linear 0s infinite;
  -ms-animation: cir1 200s linear 0s infinite;
  -moz-animation: cir1 200s linear 0s infinite;
  animation: cir1 200s linear 0s infinite;
}

.section3 .ball_2 .ball {
  -webkit-animation: cir2 200s linear 0s infinite;
  -o-animation: cir2 200s linear 0s infinite;
  -ms-animation: cir2 200s linear 0s infinite;
  -moz-animation: cir2 200s linear 0s infinite;
  animation: cir2 200s linear 0s infinite;
}

.section3 .ball_3 .ball {
  -webkit-animation: cir3 200s linear 0s infinite;
  -o-animation: cir3 200s linear 0s infinite;
  -ms-animation: cir3 200s linear 0s infinite;
  -moz-animation: cir3 200s linear 0s infinite;
  animation: cir3 200s linear 0s infinite;
}

.section3 .ball_4 .ball {
  -webkit-animation: cir4 200s linear 0s infinite;
  -o-animation: cir4 200s linear 0s infinite;
  -ms-animation: cir4 200s linear 0s infinite;
  -moz-animation: cir4 200s linear 0s infinite;
  animation: cir4 200s linear 0s infinite;
}

.section3 .ball_5 .ball {
  -webkit-animation: cir5 200s linear 0s infinite;
  -o-animation: cir5 200s linear 0s infinite;
  -ms-animation: cir5 200s linear 0s infinite;
  -moz-animation: cir5 200s linear 0s infinite;
  animation: cir5 200s linear 0s infinite;
}

@-webkit-keyframes cir1 {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg) rotateZ(0deg);
  }
}

@keyframes cir1 {
  0% {
    transform: rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(-360deg) rotateZ(0deg);
  }
}

@-webkit-keyframes cir2 {
  0% {
    -webkit-transform: rotateY(-60deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateY(-420deg) rotateZ(0deg);
  }
}

@keyframes cir2 {
  0% {
    transform: rotateY(-60deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(-420deg) rotateZ(0deg);
  }
}

@-webkit-keyframes cir3 {
  0% {
    -webkit-transform: rotateY(-120deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateY(-480deg) rotateZ(0deg);
  }
}

@keyframes cir3 {
  0% {
    transform: rotateY(-120deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(-480deg) rotateZ(0deg);
  }
}

@-webkit-keyframes cir4 {
  0% {
    -webkit-transform: rotateY(-180deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateY(-540deg) rotateZ(0deg);
  }
}

@keyframes cir4 {
  0% {
    transform: rotateY(-180deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(-540deg) rotateZ(0deg);
  }
}

@-webkit-keyframes cir5 {
  0% {
    -webkit-transform: rotateY(-240deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateY(-600deg) rotateZ(0deg);
  }
}

@keyframes cir5 {
  0% {
    transform: rotateY(-240deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(-600deg) rotateZ(0deg);
  }
}

@keyframes cir {
  0% {
    transform: rotateX(80deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(80deg) rotateY(0deg) rotateZ(-360deg);
  }
}

@-webkit-keyframes cir {
  0% {
    -webkit-transform: rotateX(80deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(80deg) rotateY(0deg) rotateZ(-360deg);
  }
}
